services:
  product-service:
    build: ./product-service
    ports:
      - 8080:8080
    
  order-service:
    build: ./order-service
    ports:
      - 8082:8082
    environment:
      - PRODUCT_SERVICE_URL=http://product-service:8080/api/products
      - PAYMENT_SERVICE_URL=http://payment-service:8081/api/payments
    depends_on:
      - product-service
      - payment-service

  payment-service:
    build: ./payment-service
    ports:
      - 8081:8081


